.parallax{
    --speed: 1;
    position: relative;
    z-index: -10;
    display: grid;
    grid-template-areas: "stack";
    max-height: 100vh;
}
.parallax > * {
    grid-area: stack;
    animation: parallax linear;
    animation-timeline: scroll();
    
}
.para-logo {
  --speed: 10.5;
}
.para-header{
  --speed: 10.5;
  font-family: Arial;
}

.para-desc {
  --speed: 9;
}
.parallax-bg {
    object-fit: cover;
    z-index: -10;
    filter: blur(10px);
}
@media (max-width: 768px) {

  .para-desc{
    --speed: 11;
  }
}

@keyframes parallax {
    to {
        transform: translateY(calc(var(--speed) * 101px));
    }
}
